/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define COLEMAK 0
#define SYMBOLS 1
#define NUMBERS 2
#define FUNCTIONS 3
#define NAVIGATION 4
#define MULTIMEDIA 5

#define CLIPBOARD (LC(LS(ES_Z)))


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "spanish.h"

#define ES_BACK (LA(ES_LEFT))
#define ES_FORWARD (LA(ES_RIGHT))
#define ES_UNDO (LC(ES_Z))
#define ES_REDO (LC(ES_Y))
#define CLIPBOARD (LC(LS(ES_Z)))
#define ES_FIND (LC(ES_F))
#define ES_CUT (LC(ES_X))
#define ES_COPY (LC(ES_C))
#define ES_PASTE (LC(ES_V))


#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <50>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0>; \
  };



                &lt {
                        quick-tap-ms = <300>;
                };
/ {

// -----------------------------------------------------------------------------------------
// |  0  |  1  |  2  |  3  |  4  |  5  |            |  6  |  7  |  8  |  9  |  10 |  11 |
// |  12 |  13 |  14 |  15 |  16 |  17 |            |  18 |  19 |  20 |  21 |  22 |  23 |
// |  24 |  25 |  26 |  27 |  28 |  29 |            |  30 |  31 |  32 |  33 |  34 |  35 |
//                   |  36 |  37 |  38 |            |  39 |  40 |  41 |



combos {
  compatible = "zmk,combos";
  
  COMBO(GM, &kp ES_PIPE, 17 18)

  COMBO(PB, &kp ES_ABRE_CORCH, 4 5)
  COMBO(JL, &kp ES_CIERRA_CORCH, 6 7)

  COMBO(PG, &kp ES_LPAR, 4 17)
  COMBO(ML, &kp ES_RPAR, 18 7)

  COMBO(DV, &kp ES_ABRE_LLAVE, 28 29)
  COMBO(KH, &kp ES_CIERRA_LLAVE, 30 31)

  COMBO(PH, &kp ES_BARRA_INV, 4 31)
  COMBO(DL, &kp ES_BARRA, 28 7)
  
};

        behaviors {
                hm: homerow_mods {
                    compatible = "zmk,behavior-hold-tap";
                    label = "HOMEROW_MODS";
                    #binding-cells = <2>;
                    tapping-term-ms = <300>;
                    quick-tap-ms = <200>;
                    flavor = "tap-preferred";
                    bindings = <&kp>, <&kp>;
                };

                td0: tap_dance_0 {
                    compatible = "zmk,behavior-tap-dance";
                    label = "TAP_DANCE_0";
                    #binding-cells = <0>;
                    tapping-term-ms = <200>;
                    bindings = <&kp ES_E>, <&kp ES_AGUDO> <&kp ES_E>, <&kp ES_N3>;
                };
                    
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  º   |  Q  |  W  |  F  |  P  |  B  |       |  J  |  L  |  U  |  Y  |  Ñ  |  '  |
// | CAPS |  A  |  R  |  S  |  T  |  G  |       |  M  |  N  |  E  |  I  |  O  |  ´  |
// |  <   |  Z  |  X  |  C  |  D  |  V  |       |  K  |  H  |  ,  |  .  |  -  |  +  |
//  | ESC | FUNCTIONS-RET | NUMBERS-TAB |       | SYMBOLS-BSPC | NAVIGATION-SPACE | MULTIMEDIA-DEL |
                        bindings = <

   &td0  &kp ES_Q       &kp ES_W       &kp ES_F           &kp ES_P        &kp ES_B         &kp ES_J  &kp ES_L        &kp ES_U        &kp ES_Y       &kp ES_ENHE        &kp ES_APOSTROFE
   &kp ES_CAPS     &kp ES_A       &hm LALT ES_R  &hm LCTRL ES_S     &hm LSHFT ES_T  &kp ES_G         &kp ES_M  &hm RSHFT ES_N  &hm RCTRL ES_E  &hm LALT ES_I  &kp ES_O           &kp ES_AGUDO
   &kp ES_MENOR    &hm LGUI ES_Z  &kp ES_X       &kp ES_C           &kp ES_D        &kp ES_V         &kp ES_K  &kp ES_H        &kp ES_COMA     &kp ES_PUNTO   &hm RGUI ES_MENOS  &kp ES_MAS
                                  &kp ES_ESC     &lt FUNCTIONS ES_INTRO   &lt NUMBERS ES_TAB         &lt SYMBOLS BSPC   &lt NAVIGATION SPACE   &lt MULTIMEDIA DEL
                        >;
                };

                symbols_layer {
// -----------------------------------------------------------------------------------------
// |  ¬  |  /  |  %  |  @  |  "  |  $  |            |     |     |     |     |     |  ¿  |
// |  ^  |  |  |  &  |  !  |  ?  |  =  |            |     |     |     |     |     |     |
// |  ·  |  \  |  #  |  ¡  |  ¿  |  €  |            |     |     |     |     |     |     |
//                   | ESC | RET | TAB |            |     |     |     |
                        bindings = <
   &kp ES_NOT      &kp ES_BARRA     &kp ES_PERCENT   &kp ES_ARROBA    &kp ES_COMILLAS &kp ES_DOLLAR       &none &none &none &none &none &kp ES_ABRE_INTERROG
   &kp ES_TILDE    &kp ES_PIPE      &kp ES_AMPERSAND &kp ES_EXCL      &kp ES_QMARK    &kp ES_IGUAL        &none &none &none &none &none &kp ES_GRAVE
   &kp ES_PUNTILLO &kp ES_BARRA_INV &kp ES_HASH      &kp ES_ABRE_EXCL &kp ES_LQMARK   &kp ES_EURO         &none &none &none &none &none &none
                  &kp ES_ESC &kp ES_INTRO &kp ES_TAB                                                      &none &none &none 
                        >;
                };

                numbers_layer {
// -----------------------------------------------------------------------------------------
// |     |     |     |     |     |     |        |  [  |  7  |  8  |  9  |  /  |  ]  |
// |     |     | ALT | CTR | SFT |     |        |  (  |  4  |  5  |  6  |  \  |  )  |
// |     | WIN |     |     |     |     |        |  {  |  1  |  2  |  3  |  0  |  }  |
//                   |     |     |     |        | BSPC | SPACE | DEL |
                        bindings = <
   &none &none     &none     &none      &none      &none       &kp ES_LBKT  &kp ES_N7  &kp ES_N8   &kp ES_N9   &kp ES_SLASH  &kp ES_RBKT
   &none &none     &kp LALT  &kp LCTRL  &kp LSHFT  &none       &kp ES_LPAR  &kp ES_N4  &kp ES_N5   &kp ES_N6   &kp ES_BSLH   &kp ES_RPAR
   &none &kp LGUI  &none     &none      &none      &none       &kp ES_LBRC  &kp ES_N1  &kp ES_N2   &kp ES_N3   &kp ES_N0     &kp ES_RBRC
                             &none      &none      &none       &kp BSPC     &kp SPACE  &kp DEL
                        >;
                };


                functions_layer {
// -----------------------------------------------------------------------------------------
// |     |     |     |     |     |     |      |     |  F7  |  F8  |  F9  | F12 | F15 |
// |     |     | ALT | CTR | SFT |     |      |     |  F4  |  F5  |  F6  | F11 | F14 |
// |     | WIN |     |     |     |     |      |     |  F1  |  F2  |  F3  | F10 | F13 |
//                   |     |     |     |      | BSPC | SPACE | DEL |
                        bindings = <
   &none  &none     &none     &none     &none     &none       &none    &kp ES_F7  &kp ES_F8   &kp ES_F9   &kp ES_F12  &kp ES_F15
   &none  &none     &kp LALT  &kp LCTRL &kp LSHFT &none       &none    &kp ES_F4  &kp ES_F5   &kp ES_F6   &kp ES_F11  &kp ES_F14
   &none  &kp LGUI  &none     &none     &none     &none       &none    &kp ES_F1  &kp ES_F2   &kp ES_F3   &kp ES_F10  &kp ES_F13
                              &none     &none     &none       &kp BSPC  &kp SPACE &kp DEL
                        >;
                };

                navigation_layer {
// -----------------------------------------------------------------------------------------
// |  Clip  |  ini  |  PgDn |  PgUp |  fin  | Print |            |     |  ini  |  PgDn |  PgUp |  fin  |       |
// |  Back  | Find  |  ALT  |  CTR  |  SHF  | Fwrd  |            |     |   ←   |   ↓   |   ↑   |   →   |       |
// |  ReDo  | UnDo  |  Cut  |  Copy |  BkSp | Paste |            |     |       |       |       |       |       |
//                          |  ESC  |  RET  | TAB   |            |     |       |       |
                        bindings = <
   &kp CLIPBOARD  &kp ES_HOME  &kp ES_PAGE_DOWN &kp ES_PAGE_UP  &kp ES_END  &kp ES_PRINTSCREEN         &none &kp ES_HOME  &kp ES_PAGE_DOWN &kp ES_PAGE_UP  &kp ES_END   &none
   &kp ES_BACK    &kp ES_FIND  &kp LALT         &kp LCTRL       &kp LSHFT   &kp ES_FORWARD             &none &kp ES_LEFT  &kp ES_DOWN      &kp ES_UP       &kp ES_RIGHT &none
   &kp ES_REDO    &kp ES_UNDO  &kp ES_CUT       &kp ES_COPY     &kp BSPC    &kp ES_PASTE               &none &none        &none            &none           &none        &none
                                                &kp ESC         &kp RET     &kp TAB                    &none &none        &none
                        >;
                };

                multimedia_layer {
// -----------------------------------------------------------------------------------------
// |  º   |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L  |  U  |  Y  |  Ñ  |  '  |
// | CAPS |  A  |  R  |  S  |  T  |  G  |   |  M  |  N  |  E  |  I  |  O  |  ´  |
// |   <  |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H  |  ,  |  .  |  -  |  +  |
//                    | ESC | RET | TAB |   | BSPC | SPACE | DEL |
                        bindings = <
   &kp GRAVE &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L  &kp U     &kp Y   &kp SEMI &kp MINUS
   &kp CAPS  &kp A &kp R &kp S &kp T &kp G   &kp M &kp N  &kp E     &kp I   &kp O &kp APOS
   &kp NUBS  &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &kp RBKT
                  &kp ESC &kp RET &kp TAB   &kp BSPC &kp SPACE &kp DEL
                        >;
                };

                low_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &none &none
   &kp LSHFT  &none       &none       &none       &none       &none         &none   &none   &none &none    &none &none
                                    &kp LGUI     &none       &kp SPACE      &kp RET  &none   &kp RALT
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &none   &none &none   &none   &none      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &kp LSHFT &none   &none &none   &none   &none      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                             &kp LGUI &none   &kp SPACE   &kp RET   &none    &kp RALT
                        >;
                };
        };
};
